* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  width: 40rem;
  padding: 1rem 2rem;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  gap: 5rem;
  padding: 24px;
}

#score-data-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 50%;
}

#refresh-btn {
  margin-left: auto;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  color: #5c5a5a;
  font-size: 0.8rem;
  transition: all;
  transition-duration: 0.35s;
  cursor:pointer;
}

#score-data-header {
  display: flex;
}

#score-list {
  list-style: none;
  line-height: 20px;
  max-height: 15rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 12px 0 20px -12px rgb(173 171 171 / 35%);
}

#score-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 0;
  box-shadow: 12px 0 20px -12px rgba(173, 171, 171, 0.35);
}

input {
  border: none;
  border-bottom: 1px solid #c5b9b9;
  padding: 0.25rem 0.5rem;
}
